{
  "verbose": true,
  "notify": true,
  "transform": {".*": "./jestTransformer.js"},
  "testPathIgnorePatterns": [
    "./node_modules",
    "./coverage",
    "./dist",
    "./lib"
  ],
  "testRegex": "\\.test\\.js",
  "collectCoverageFrom": ["**/*.js", "!**/node_modules/**"],
  "collectCoverage": true,
  "coverageDirectory": "./coverage",
  "coveragePathIgnorePatterns": [
    "./node_modules",
    "./coverage",
    "./dist",
    "./lib",
    "./test",
    "./webpack.config.js",
    "./jestTransformer.js",
    "./.eslintrc.js"
  ],
  "coverageThreshold": {
    "global": {
      "branches": 100,
      "functions": 100,
      "lines": 100,
      "statements": 100
    }
  }
}
